.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1.5rem;

  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}