.inputWeight{
    width: 240px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #256cd7;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 2px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #FFFFFF;
    text-align: center;
    transition:  all 0.5s ease-in-out;
}

.inputWeight:focus{
    border-color: #00CED1;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 51, 102, 0.4),
  0 0 15px rgba(0, 206, 209, 0.5);
}

/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}