.selectSex{
    width: 240px;
    height: 50px;
    background: #FFFFFF;
    border: 2px solid #256cd7;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 16px;
    line-height: 2px;
}

.selectTrigger {
  width: 240px;
  height: 50px;
  padding: 0 16px;
  border-radius: 6px;
  border: 2px solid #256cd7;
  background: #fff;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;

  background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #FFFFFF;
    text-align: center;
    transition:  all 0.5s ease-in-out;
}

.selectTrigger:focus{
  
    border-color: #00CED1;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 51, 102, 0.4),
  0 0 15px rgba(0, 206, 209, 0.5);

}

.selectContent {
  background: rgba(0, 51, 102, 0.4);
  border: 2px solid #003366;
  border-radius: 6px;
  margin-top: 4px;
  padding: 4px;
  z-index: 9999;
}

.selectItem {
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.selectItem:hover {
  background: #256cd7;
}

.selectItem[data-state="checked"] {
  background: #003366;
  font-weight: 300;
}

.selectLabel {
  font-size: 12px;
  font-weight: 600;
  color: #00CED1;
  padding: 6px 10px;
}
