.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 8px 16px;
  background: transparent;
  border-color: rgba(0, 206, 209, 0.1);
  transition:  all 0.5s ease-in-out;
  color: #fff;
  width: 250px;
}


.button:hover {
  outline: none;
    box-shadow: 0 4px 10px rgba(2, 96, 190, 0.4),
  0 0 15px rgba(2, 104, 105, 0.5);
}

.outline {
  background: transparent;
  border: 1px solid #00ced1;
  color: #00ced1;
}

/* DISABLED */
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
